@*
    // Copyright (c) Alex Reich.
    // Licensed under the CC BY 4.0 License.
*@
@page "/"
@using RulesEngineEditor.Models
@using RulesEngineEditor.Components
@inject NavigationManager NavigationManager
@inject RulesEngineEditor.Services.WorkflowService WorkflowService
@implements IDisposable

<sp_grid_tabs>
    <div>
        <button class="reeditor_menubutton @IsShowWorkflows(ShowWorkflows)" @onclick="(() => ShowWorkflows = true)">Workflows</button>
    </div><div>
        <button class="reeditor_menubutton @IsShowWorkflows(!ShowWorkflows)" @onclick="(() => ShowWorkflows = false)">Input Rule Parameters</button>
    </div>
</sp_grid_tabs>
<br />
@functions {
    public string IsShowWorkflows(bool state)
    {
        return state ? "reeditor_menubutton_depressed" : "";
    }
}
<div hidden="@(!ShowWorkflows)">
    @if (IsButtonEnabled("NewWorkflows"))
    {
        <button title="New Workflows" class="reeditor_button" @onclick="NewWorkflows">New</button><span>&nbsp;</span>
    }
    @if (IsButtonEnabled("DownloadWorkflows"))
    {
        <a class="reeditor_button" @attributes="@DownloadAttributes">Download</a><span>&nbsp;</span>
    }
    @if (IsButtonEnabled("ImportWorkflows"))
    {
        <div class="reeditor_button"><InputFile title="Import Workflows" OnChange="@ImportWorkflows" />Import</div><span>&nbsp;</span>
    }
    @if (IsButtonEnabled("AddWorkflow"))
    {
        <button title="Add Workflow" class="reeditor_button" @onclick="AddWorkflow">Add</button><span>&nbsp;</span>
    }
</div>
@if (WorkflowService.Workflows.Count > 0)
{
    <div class="sp_grid_main" hidden="@(!ShowWorkflows)">
        <div>
            <Dropzone TItem="WorkflowData" OnItemDrop="@((i)=>WorkflowDragEnd(i))" Items="WorkflowService.Workflows" Class="reeditor_dragdrop">
                <WorkflowEditor workFlow="context" WorkflowDelete="DeleteWorkflow" />
                <div class="sp_grid_workflow_children">
                    <h5>Rules</h5>
                    <button class="reeditor_button" @onclick="(() => WorkflowService.NewRule(context))">New</button>

                    <Rules rules=context.Rules RulesChanged="WorkflowUpdate" />
                    <h5>Global Params</h5>
                    <div>
                        <button class="reeditor_button" @onclick="(e => { NewGlobalParam(context); })">New</button>
                    </div>
                    <ScopedParams scopedParams=context.GlobalParams ScopedParamsChanged="WorkflowUpdate" />
                </div>
            </Dropzone>
        </div>
        <div>
            <span class="JSONErrors">@workflowJSONErrors</span>
            <textarea @bind="WorkflowJSON" class="jsonTextArea" />
        </div>
    </div>
    <div hidden="@(ShowWorkflows)">
        @if (IsButtonEnabled("NewInputs"))
        {
        <button title="New Input" class="reeditor_button" @onclick="NewInputs">New</button><span>&nbsp;</span>
        }
        @if (IsButtonEnabled("DownloadInputs"))
        {
            <a title="Download Inputs" class="reeditor_button" @attributes="@DownloadInputAttributes">Download</a><span>&nbsp;</span>
        }
        @if (IsButtonEnabled("ImportInputs"))
        {
            <div class="reeditor_button"><InputFile title="Import Inputs" OnChange="@ImportInputs" />Import</div><span>&nbsp;</span>
        }
        @if (IsButtonEnabled("AddInput"))
        {
            <button title="Add Input" class="reeditor_button" @onclick="AddInput">Add</button>
        }

        <div class="sp_grid_main" hidden="@(!WorkflowService.Inputs.Any())">
            <div>
                <Dropzone Items="WorkflowService.Inputs" Class="reeditor_dragdrop">
                    <InputEditor Input=@context InputDeleted="DeleteInput" />
                </Dropzone>
            </div>
            <div>
                <span class="JSONErrors">@inputJSONErrors</span>
                <textarea @bind="InputJSON" class="jsonTextArea" />
            </div>
        </div>
    </div>
}
else
{
    <span class="JSONErrors">@workflowJSONErrors</span>
}
