@page "/"
@using RulesEngineEditor.Models
@inject NavigationManager NavigationManager
@inject RulesEngineEditor.Services.WorkflowState WorkflowState
@implements IDisposable

<sp_grid_tabs>
    <div>
        <button class="reeditor_menubutton @IsShowWorkflows(ShowWorkflows)" @onclick="(() => ShowWorkflows = true)">Workflows</button>
    </div><div>
        <button class="reeditor_menubutton @IsShowWorkflows(!ShowWorkflows)" @onclick="(() => ShowWorkflows = false)">Input Rule Parameters</button>
    </div>
</sp_grid_tabs>
<br />
@functions {
    public string IsShowWorkflows(bool state)
    {
        return state ? "reeditor_menubutton_depressed" : "";
    }
}
<div hidden="@(!ShowWorkflows)">
    <button title="New Workflow" class="reeditor_button" @onclick="NewWorkflow">New</button><span>&nbsp;</span><a class="reeditor_button" @attributes="@DownloadAttributes">Download</a><span>&nbsp;</span>
    <div class="reeditor_button"><InputFile title="Import Workflows" OnChange="@OnSubmit" />Import</div>

    <button class="reeditor_button" @onclick="AddWorkflow">Add</button>
</div>
<br />
@if (WorkflowState.Workflows.Count > 0)
{
    @if (ShowWorkflows)
    {
        <div class="sp_grid_main">
            <div>
                <Dropzone Items="WorkflowState.Workflows" Class="reeditor_dragdrop">
                    <WorkflowEditor workFlow="context" WorkflowDelete="DeleteWorkflow" />
                    <h5>Rules</h5>
                    <div>
                        <a @onclick="(() => NewRule(context))">New</a>
                    </div>

                    <Rules rules=context.Rules RulesChanged="Update" />
                    <h5>Global Params</h5>
                    <div>
                        <a @onclick="(e => { context.GlobalParams.Insert(0, new ScopedParamData()); StateHasChanged(); })">New</a>
                    </div>
                    <ScopedParams scopedParams=context.GlobalParams ScopedParamsChanged="Update" />
                </Dropzone>
            </div>
            <div>
                <span readonly class="JSONErrors">@workflowJSONErrors</span>
                <textarea @bind="workflowJSON" class="jsonTextArea" />
            </div>
        </div>
    }
    else
    {
        <button title="New Input" class="reeditor_button" @onclick="NewInput">New</button><span>&nbsp;</span><a title="Download Inputs" class="reeditor_button" @attributes="@DownloadInputAttributes">Download</a><span>&nbsp;</span>
        <div class="reeditor_button"><InputFile title="Import Inputs" OnChange="@ImportInputs" />Import</div>

        <div class="sp_grid_main">
            <div>
                @if (WorkflowState.Inputs.Count > 0)
                {
                    <Dropzone Items="WorkflowState.Inputs" Class="reeditor_dragdrop">
                        <InputEditor Input=@context InputDeleted="DeleteInput" />
                    </Dropzone>
                }
            </div>
            <div>
                <span class="JSONErrors">@inputJSONErrors</span>
                @*<textarea @onchange="((ChangeEventArgs e) => InputJSONChange())" class="jsonTextArea">@inputJSON</textarea>*@
                <textarea class="jsonTextArea" @bind="inputJSON" />
                @*<a title="Refresh Input Json" class="reeditor_button" @onclick="InputJSONUpdate">Refresh</a>*@
            </div>
        </div>
    }
}
